<div class="promise_list">
    <div class="container">
        <h2>
            {{ section.settings.title }}
        </h2>
        <div class="row">
            <ul>
                <li>
                    <div class="inner">
                        <div class="icon-img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="74" viewBox="0 0 70 74" fill="none">
                                <g clip-path="url(#clip0_728_1258)">
                                    <path d="M35 30.4741C42.6299 30.4741 48.8152 24.2888 48.8152 16.6589C48.8152 9.02901 42.6299 2.84375 35 2.84375C27.3701 2.84375 21.1848 9.02901 21.1848 16.6589C21.1848 24.2888 27.3701 30.4741 35 30.4741Z" stroke="#E4007D" stroke-width="5.78791" stroke-miterlimit="10" stroke-linecap="round"/>
                                    <path d="M35 70.0181C52.6406 70.0181 66.9412 62.669 66.9412 53.6033C66.9412 44.5376 52.6406 37.1885 35 37.1885C17.3593 37.1885 3.05877 44.5376 3.05877 53.6033C3.05877 62.669 17.3593 70.0181 35 70.0181Z" stroke="#0B0669" stroke-width="6.23126" stroke-linejoin="round"/>
                                    <path d="M56.5128 65.7303V59.0821C56.457 57.0768 55.6212 55.1724 54.1831 53.7739C52.7451 52.3753 50.8182 51.5928 48.8122 51.5928C46.8062 51.5928 44.8793 52.3753 43.4412 53.7739C42.0032 55.1724 41.1674 57.0768 41.1116 59.0821V69.7132" stroke="#0B0669" stroke-width="6.07335" stroke-linejoin="round"/>
                                    <path d="M48.8152 51.3846V39.5371" stroke="#0B0669" stroke-width="6.07335" stroke-linejoin="round"/>
                                    <path d="M18.5613 50.6043V38.7627" stroke="#0B0669" stroke-width="6.07335" stroke-linejoin="round"/>
                                    <path d="M18.5613 57.6221C21.3209 57.6221 23.5579 55.385 23.5579 52.6255C23.5579 49.866 21.3209 47.6289 18.5613 47.6289C15.8018 47.6289 13.5647 49.866 13.5647 52.6255C13.5647 55.385 15.8018 57.6221 18.5613 57.6221Z" stroke="#0B0669" stroke-width="6.07335" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_728_1258">
                                        <rect width="70" height="73.0767" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <p>
                            Regstered healthcare professionals
                        </p>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <div class="icon-img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="71" height="73" viewBox="0 0 71 73" fill="none">
                                <g clip-path="url(#clip0_728_1285)">
                                    <path d="M60.2623 7.58594H10.2277C6.25211 7.58594 3.0293 10.8259 3.0293 14.8226V62.7113C3.0293 66.708 6.25211 69.948 10.2277 69.948H60.2623C64.2378 69.948 67.4607 66.708 67.4607 62.7113V14.8226C67.4607 10.8259 64.2378 7.58594 60.2623 7.58594Z" stroke="#0B0669" stroke-width="6.05862" stroke-miterlimit="10"/>
                                    <path d="M1.01978 23.7119H69.0143" stroke="#0B0669" stroke-width="5.99864" stroke-miterlimit="10"/>
                                    <path d="M17.2701 3.01465V12.163" stroke="#0B0669" stroke-width="5.99864" stroke-miterlimit="10" stroke-linecap="round"/>
                                    <path d="M52.0201 3.01465V12.163" stroke="#0B0669" stroke-width="5.99864" stroke-miterlimit="10" stroke-linecap="round"/>
                                    <path d="M20.0234 48.8955L29.9872 59.5274L49.2968 34.1025" stroke="#E5007D" stroke-width="5.99864" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_728_1285">
                                        <rect width="70.49" height="73" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <p>
                            Same day appointments
                        </p>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <div class="icon-img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
                                <g clip-path="url(#clip0_730_1291)">
                                    <path d="M34.9951 2.37012C40.1884 2.37012 45.0275 3.60941 49.3355 5.85193C59.3088 11.0451 66.0954 21.4316 66.0954 33.4704C66.0954 50.6434 52.1681 64.5706 34.9951 64.5706C21.717 64.5706 10.3864 56.2497 5.90137 44.5649" stroke="#0B0669" stroke-width="5.8516" stroke-miterlimit="10" stroke-linecap="round"/>
                                    <path d="M8.73408 25.9746C10.3275 24.2632 11.1536 22.6108 11.1536 21.1355C11.1536 20.2503 10.9176 19.5421 10.5045 19.011C10.0324 18.5389 9.32422 18.2438 8.38 18.2438C7.37676 18.2438 6.60958 18.5389 6.13748 19.188C5.60635 19.8372 5.3703 20.7814 5.25227 21.9616H2.53764C2.65566 19.9552 3.2458 18.4798 4.36706 17.4176C5.48832 16.3553 6.90465 15.8242 8.61605 15.8242C10.3275 15.8242 11.6258 16.2963 12.57 17.1815C13.5142 18.0667 13.9863 19.306 13.9863 20.8994C13.9863 22.1387 13.5732 23.437 12.806 24.7353C12.0388 26.0336 11.0356 27.2139 9.85534 28.2761C8.67507 29.3384 7.43578 30.2826 6.13748 31.1088H14.3404V33.4103H2.3606V31.3448C5.01621 29.5154 7.14071 27.745 8.73408 25.9746Z" fill="#E5007D"/>
                                    <path d="M16.1107 29.7502V27.3897L24.7267 16H27.7364V27.2716H30.156V29.7502H27.7364V33.4681H24.9038V29.7502H16.1107ZM25.1398 19.3638L19.0024 27.3306H25.0808V19.3638H25.1398Z" fill="#E5007D"/>
                                    <path d="M40.1884 10.3359L33.5199 37.8363H30.8052L37.4738 10.395H40.1884V10.3359Z" fill="#E5007D"/>
                                    <path d="M51.9321 18.1856L45.4406 33.5292H42.4899L49.0405 18.5397H40.4835V16.1201H51.9321V18.1856Z" fill="#E5007D"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_730_1291">
                                        <rect width="69.9903" height="73" fill="white" transform="translate(0 -3)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <p>
                            24/7 customer service
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Promise List",
        "tag": "section",
        "class": "section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            }
        ],
        "presets": [
            {
                "name": "Promise List"
            }
        ]
    }
{% endschema %}