.pagination-wrapper {
  margin-top: 4rem;
}

@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 5rem;
    text-align: center;
    overflow: hidden;
  }
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination-counter {
    display: none;
}

@media screen and (min-width: 990px) {
  .pagination-counter {
    float: right;
    display: inline-block;
    padding: 10px 0 0;
  }
  
  nav.pagination {
    display: inline-block;
  }
}

.pagination__list > li {}

.pagination__list > li:not(:last-child) {}

.pagination__item {
  color: #0A0569;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 6px;
  text-decoration: none;
  margin: 0 1px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.192px;
}

.pagination__item.pagination__item--current,
.pagination__item:hover {
  background: #0A0569;
  color: #fff;
}

.pagination__item--current::after,
.pagination__item:hover::after {
  content: '';
  display: none;
  width: 2rem;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
}

.pagination__item--next .icon {
  margin-left: -0.2rem;
}

.pagination__item--next:hover .icon {
  transform: scale(1.07);  
}

.pagination__item--prev .icon {
  margin-right: -0.2rem;
  transform: rotate(-180deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-180deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}

.pagination__item-arrow {
  width: 50px;
  height: 50px;
  border: 2px solid #E7E5EA;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #22284C;
  background: #fff;
}

.pagination__item-arrow:hover {
  color: #22284C;
  background: #fff;
}

@media screen and (min-width: 990px) {
  .pagination__item {
    height: 35px;
    width: 35px;
  }
  
  .pagination__item-arrow {
    width: 56px;
    height: 56px;
  }
}