.health-hub-hero__content {
  height: 100%;
}

.health-hub-hero__wrapper {
  display: flex;
  align-items: center;
  column-gap: 100px;
}

.health-hub-hero__block {
  flex: 1 0 0;
}

.health-hub-hero__heading h1 {
  margin: 0;
}

.health-hub-hero__text {
  margin-top: 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.4px;
}

.hub-search__container {
  max-width: 445px;
  width: 100%;
}

.hub-search__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #12022F;
}

.hub-search__field {
  position: relative;
}

.hub-search__input {
  box-shadow: unset;
}

.hub-search__icon-wrapper {
  position: absolute;
  left: 20px;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.hub-search__icon {
  width: 100%;
  height: auto;
}

.hub-search__input {
  height: 56px;
  width: 100%;
  border-radius: 28px;
  border: none;
  padding: 15px 10px 15px 65px;
}

.hub-search .hub-search__input:focus {
  padding: 15px 10px 15px 65px;
}

.hub-search__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.36px;
  color: #12022F;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.hub-search__caption {
  margin-top: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #857D94;
}

.hub-search__list {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.hub-search__item {
  padding: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #12022F;
  text-decoration: none;
  background: #FEF2F8;
  border-radius: 8px;
}

@media screen and (max-width: 990px) {
  .health-hub-hero__wrapper {
    display: block;
  }
}

@media screen and (max-width: 767px) {

  .health-hub-hero__text {
    font-size: 14px;
    line-height: 24px;
  } 

  .hub-search__title {
    font-size: 16px;
    line-height: 26px;
  }

  .hub-search {
    margin-top: 34px;
  }
}