
.list-blogs__content {
  overflow: hidden;
}

.list-blogs__tabs-content {
  margin-top: 80px;
}

.list-blogs__tabs-list {
  display: flex;
  cursor: pointer;
}

.list-blogs__tab-item {
  max-width: fit-content;
  padding: 16px 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  background: #FEF2F8;
  border-radius: 8px;
  transition: transform .4s;
}

.list-blogs__tab-item--active {
  border: 1px solid #E5007D;
}

.list-blogs__tab {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 80px;
  column-gap: 30px;
}

.list-blogs__tab--active {
  display: flex;
}

@media (hover:hover) {
  .list-blogs__tab-item:hover {
    transform: scale(1.05);
  }
}

@media screen and (max-width: 767px) {

  .list-blogs__tab-item {
    padding: 10px;
  }  
}