.modal-fields {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    background: rgba(var(--color-foreground), 0.2);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: #12022F;
}

.modal-fields[open] {
    opacity: 1;
    visibility: visible;
    z-index: 10001;
}

.modal-fields__wrap {
    position: absolute;
    background-color: rgb(255,255,255);
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 585px;
    border-radius: 20px;
    box-shadow: #173C94;
    margin: 0 !important;
    padding: 20px !important;
    max-width: none !important;
}

@media screen and (max-width: 450px) {
    .modal-fields__wrap {
        width: 90%;
    }
}

.modal-fields__content {
    height: 460px;
}

.modal-fields__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 85%;
}

.modal-fields__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    background: #0A0569;
    border-radius: 28px;
    margin-bottom: 16px;
    cursor: pointer;
}
.modal-fields__button span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.36px;
    color: #FFFFFF;
    margin: 0 10px;
}

.modal-fields__content.focused {
    box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3),
    var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.modal-fields__content:focus-visible{
    box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3),
    var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.modal-fields__close {
    display: block !important;
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    border: none;
    cursor: pointer;
}
.modal-fields__close:hover {
    opacity: 1;
}
.modal-fields__close:before, .modal-fields__close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.modal-fields__close:before {
    transform: rotate(45deg);
}
.modal-fields__close:after {
    transform: rotate(-45deg);
}

@media screen and (max-width: 750px) {
    .modal-fields__content {
        width: 100%;
        border-radius: 0;
    }
}