.product1 {
  margin: 0;
  display: flex;
  width: 100%;
}

.product1.grid {
  gap: 0;
  flex-direction: row-reverse;
}

.product1--no-media {
  max-width: 57rem;
  margin: 0 auto;
}

.product1__media-wrapper {
  padding-left: 0;
  max-width: 50%;
  width: 50%;
}

.product1__info-wrapper {
  padding-left: 0;
  padding-bottom: 0;
}

.price-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.price-block__container {
  display: flex;
}
.price-block__regular {}
.price-block__price {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #12022F;
}

@media screen and (min-width: 750px) {
  .product1--thumbnail .product1__media-gallery,
  .product1--thumbnail_slider .product1__media-gallery,
  .product1--stacked .product1__info-container--sticky {
    display: block;
    position: sticky;
    top: 3rem;
    z-index: 2;
  }

  .product1--thumbnail .thumbnail-list {
    padding-right: var(--media-shadow-horizontal-offset);
  }

  .product1__info-wrapper {
    /*padding-left: 5rem;*/
  }

  .product1__info-wrapper--extra-padding {
    /*padding-left: 8rem;*/
  }

  .product1__media-container .slider-buttons {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .product1__media-wrapper {
    padding-right: 5%;
  }
}

@media screen and (min-width: 990px) {
  .product1--large:not(.product1--no-media) .product1__media-wrapper {
    max-width: 50%;
    padding-right: 5%;
    width: 50%;
    /*width: calc(65% - var(--grid-desktop-horizontal-spacing) / 2);*/
  }

  .product1--large:not(.product1--no-media) .product1__info-wrapper {
    max-width: 50%;
    width: 50%;
    /*width: calc(35% - var(--grid-desktop-horizontal-spacing) / 2);*/
  }

  .product1--medium:not(.product1--no-media) .product1__media-wrapper,
  .product1--small:not(.product1--no-media) .product1__info-wrapper {
    max-width: 50%;
    width: 50%;
    /*width: calc(55% - var(--grid-desktop-horizontal-spacing) / 2);*/
  }

  .product1--medium:not(.product1--no-media) .product1__info-wrapper,
  .product1--small:not(.product1--no-media) .product1__media-wrapper {
    max-width: 50%;
    width: 50%;
    /*width: calc(45% - var(--grid-desktop-horizontal-spacing) / 2);*/
  }
}

/* Dynamic checkout */

.shopify-payment-button__button {
  font-family: inherit;
  min-height: 4.6rem;
}

.shopify-payment-button__button [role="button"].focused,
.no-js .shopify-payment-button__button [role="button"]:focus {
  outline: .2rem solid rgba(var(--color-foreground),.5) !important;
  outline-offset: 0.3rem;
  box-shadow: 0 0 0 .1rem rgba(var(--color-button),var(--alpha-button-border)),0 0 0 .3rem rgb(var(--color-background)),0 0 .5rem .4rem rgba(var(--color-foreground),.3) !important;
}

.shopify-payment-button__button [role="button"]:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none !important;
}

.shopify-payment-button__button [role="button"]:focus-visible {
  outline: .2rem solid rgba(var(--color-foreground),.5) !important;
  box-shadow: 0 0 0 .1rem rgba(var(--color-button),var(--alpha-button-border)),0 0 0 .3rem rgb(var(--color-background)),0 0 .5rem .4rem rgba(var(--color-foreground),.3) !important;
}

.shopify-payment-button__button--unbranded {
  background-color: rgba(var(--color-button), var(--alpha-button-background));
  color: rgb(var(--color-button-text));
  font-size: 1.4rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  letter-spacing: 0.07rem;
}

.shopify-payment-button__button--unbranded::selection {
  background-color: rgba(var(--color-button-text), 0.3);
}

.shopify-payment-button__button--unbranded:hover,
.shopify-payment-button__button--unbranded:hover:not([disabled]) {
  background-color: rgba(var(--color-button), var(--alpha-button-background));
}

.shopify-payment-button__more-options {
  margin: 1.6rem 0 1rem;
  font-size: 1.2rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  letter-spacing: 0.05rem;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.shopify-payment-button__button--hidden {
  display: none;
}

/* Product form */

.product-form {
  display: block;
}

.product-form__error-message-wrapper:not([hidden]) {
  display: flex;
  align-items: flex-start;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.product-form__error-message-wrapper svg {
  flex-shrink: 0;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.7rem;
  margin-top: 0.5rem;
}

/* Form Elements */
.product-form__input {
  flex: 0 0 100%;
  padding: 0;
  margin: 0 0 1.2rem 0;
  max-width: 37rem;
  min-width: fit-content;
  border: none;
}

variant-radios,
variant-selects {
  display: block;
}

.product-form__input--dropdown {
  margin-bottom: 1.6rem;
}

.product-form__input .form__label {
  padding-left: 0;
}

fieldset.product-form__input .form__label {
  margin-bottom: 0.2rem;
}

.product-form__input input[type='radio'] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.product-form__input input[type='radio'] + label {
  border: var(--variant-pills-border-width) solid rgba(var(--color-foreground), var(--variant-pills-border-opacity));
  background-color: rgb(var(--color-background));
  color: rgba(var(--color-foreground));
  border-radius: var(--variant-pills-radius);
  color: rgb(var(--color-foreground));
  display: inline-block;
  margin: 0.7rem 0.5rem 0.2rem 0;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  text-align: center;
  transition: border var(--duration-short) ease;
  cursor: pointer;
  position: relative;
}

.product-form__input input[type='radio'] + label:before {
  content: '';
  position: absolute;
  inset: calc(var(--variant-pills-border-width) * -1);
  z-index: -1;
  border-radius: var(--variant-pills-radius);
  box-shadow: var(--variant-pills-shadow-horizontal-offset) var(--variant-pills-shadow-vertical-offset) var(--variant-pills-shadow-blur-radius) rgba(var(--color-shadow), var(--variant-pills-shadow-opacity));
}

.product-form__input input[type='radio'] + label:hover {
  border-color: rgb(var(--color-foreground));
}

.product-form__input input[type='radio']:checked + label {
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
}

@media screen and (forced-colors: active) {
  .product-form__input input[type=radio]:checked + label {
    text-decoration: underline;
  }
}

.product-form__input input[type='radio']:checked + label::selection {
  background-color: rgba(var(--color-background), 0.3);
}

.product-form__input input[type='radio']:disabled + label {
  border-color: rgba(var(--color-foreground), 0.1);
  color: rgba(var(--color-foreground), 0.4);
  text-decoration: line-through;
}
.product-form__input input[type='radio']:focus-visible + label {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
  0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
}

/* Fallback */
.product-form__input input[type='radio'].focused + label,
.no-js .shopify-payment-button__button [role="button"]:focus + label {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
  0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
}

/* No outline when focus-visible is available in the browser */
.no-js .product-form__input input[type='radio']:focus:not(:focus-visible) + label {
  box-shadow: none;
}

.product-form__input .select {
  /*max-width: 25rem;*/
}

.product-form__submit {
  /*margin-bottom: 1rem;*/
}

.no-js .product-form__submit.button--secondary {
  --color-button: var(--color-base-accent-1);
  --color-button-text: var(--color-base-solid-button-labels);
  --alpha-button-background: 1;
}

.product-form__submit[aria-disabled="true"] + .shopify-payment-button,
.product-form__submit[disabled] + .shopify-payment-button {
  display: none;
}

@media screen and (forced-colors: active) {
  .product-form__submit[aria-disabled="true"] {
    color: Window;
  }
}

/* Overrides */
.shopify-payment-button__more-options {
  color: rgb(var(--color-foreground));
}

.shopify-payment-button__button {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

/* Product info */

.product1__info-container > * + * {
  /*margin: 1.5rem 0;*/
}

.product1__info-container .product-form,
.product1__info-container .product1__description {
  /*margin: 2.5rem 0;*/
}
.product1__description {
  margin: 2.5rem 0;
}

.product1__text {
  margin-bottom: 0;
}

a.product1__text {
  display: block;
  text-decoration: none;
  color: rgba(var(--color-foreground), 0.75);
}

.product1__text.caption-with-letter-spacing {
  text-transform: uppercase;
}

.product1__title {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -2px;
  color: #12022F;
  word-break: break-word;
  margin-bottom: 34px;
}

.product1__title + .product1__text.caption-with-letter-spacing {
  margin-top: -1.5rem;
}

.product1__text.caption-with-letter-spacing + .product1__title {
  margin-top: 0;
}

.product1__accordion .accordion__content {
  /*padding: 0 1rem;*/
}

.product1 .price .badge {
  margin-bottom: 0.5rem;
}

.product1 .price__container {
  margin-bottom: 0.5rem;
}

.product1 .price dl {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.product1 .price--sold-out .price__badge-sold-out {
  background: transparent;
  color: rgb(var(--color-base-text));
  border-color: transparent;
}

.product1 .price--sold-out .price__badge-sale {
  display: none;
}

@media screen and (min-width: 750px) {
  .product1__info-container {
    max-width: 60rem;
  }

  .product1__info-container .price--on-sale .price-item--regular {
    font-size: 1.6rem;
  }

  .product1__info-container > *:first-child {
    margin-top: 0;
  }
}

.product1__description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #12022F;
}
.product1__description-title {
  font-weight: 600;
}

.highlights-product {
  width: 100%;
  margin-bottom: 30px;
}
.highlights-product__items {
  display: flex;
  gap: 15px;
}
.highlights-product__item {
  display: flex;
  align-items: center;
  letter-spacing: -.3px;
}
.highlights-product__icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.highlights__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: #12022F;
}

.what-test-product__cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.what-test-product__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.355556px;
  color: #12022F;
}
.what-test-product__item {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #12022F;
}

.method-product__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.355556px;
  color: #12022F;
  margin-bottom: 10px;
}
.method-product__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 10px;
}
.method-product__item span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.3px;
  color: #E5007D;

}
.method-product__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 110px;
  height: 30px;
  border: 1px solid #E5007D;
  border-radius: 8px;
}

.product1--no-media .product1__title,
.product1--no-media .product1__text,
.product1--no-media noscript .product-form__input,
.product1--no-media .product1__tax  {
  text-align: center;
}

.product1--no-media .product1__media-wrapper {
  padding: 0;
}

.product1__tax {
  margin-top: -1.4rem;
}

.product1--no-media noscript .product-form__input,
.product1--no-media .share-button {
  max-width: 100%;
}

.product1--no-media fieldset.product-form__input,
.product1--no-media .product-form__quantity,
.product1--no-media .product-form__input--dropdown,
.product1--no-media .share-button,
.product1--no-media .product1__view-details,
.product1--no-media .product1__pickup-availabilities,
.product1--no-media .product-form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.product1--no-media .product-form {
  flex-direction: column;
}

.product1--no-media .product-form > .form {
  max-width: 30rem;
  width: 100%;
}

.product1--no-media .product-form__quantity,
.product1--no-media .product-form__input--dropdown {
  flex-direction: column;
  max-width: 100%;
}

.product-form__quantity .form__label {
  margin-bottom: 0.6rem;
}

.product-form__quantity-top .form__label {
  margin-bottom: 1.2rem;
}


.product1--no-media fieldset.product-form__input {
  flex-wrap: wrap;
  margin: 0 auto 1.2rem auto;
}

.product-form__buttons {
  /*max-width: 44rem;*/
  margin-top: 20px;
}

.product1--no-media .product1__info-container > modal-opener {
  display: block;
  text-align: center;
}

.product1--no-media .product1-popup-modal__button {
  padding-right: 0;
}

.product1--no-media .price {
  text-align: center;
}

.product1--no-media .product1__info-wrapper {
  padding-left: 0;
}

/* Product media */
.product1__media-list video {
  border-radius: calc(var(--media-radius) - var(--media-border-width));
}

@media screen and (max-width: 749px) {
  .product1__media-list {
    margin-left: -2.5rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    width: calc(100% + 4rem);
  }

  .product1__media-wrapper {
    display: none;
  }

  .product1__media-wrapper slider-component:not(.thumbnail-slider--no-slide) {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  .slider.product1__media-list::-webkit-scrollbar {
    height: 0.2rem;
    width: 0.2rem;
  }

  .product1__media-list::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-foreground));
  }

  .product1__media-list::-webkit-scrollbar-track {
    background-color: rgba(var(--color-foreground), 0.2);
  }

  .product1__media-list .product1__media-item {
    width: calc(100% - 3rem);
  }

  .slider.product1__media-list .product1__media-item:first-of-type {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 750px) {
  .product1--thumbnail .product1__media-list,
  .product1--thumbnail_slider .product1__media-list {
    padding-bottom: var(--media-shadow-vertical-offset);
  }

  .product1__media-list {
    padding-right: var(--media-shadow-horizontal-offset);
  }

  .product1__media-item:first-child {
    width: 100%;
  }

  .product1--thumbnail .product1__media-item:not(.is-active),
  .product1--thumbnail_slider .product1__media-item:not(.is-active) {
    display: none;
  }

  .product1-media-modal__content > .product1__media-item--variant.product1__media-item--variant {
    display: none;
  }

  .product1-media-modal__content > .product1__media-item--variant:first-child {
    display: block;
  }
}

.product1__media-item.product1__media-item--variant {
  display: none;
}

.product1__media-item--variant:first-child {
  display: block;
}

@media screen and (max-width: 749px) {
  .product1__media-item--variant:first-child {
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .product1__media-list .product1__media-item:first-child {
    padding-left: 0;
  }

  .product1--thumbnail_slider .product1__media-list {
    margin-left: 0;
  }

  .product1__media-list .product1__media-item {
    padding: 0 0 0.5rem;
    width: 100%;
  }
}

.product1__media-icon .icon {
  width: 1.2rem;
  height: 1.4rem;
}

.product1__media-icon,
.thumbnail__badge {
  background-color: rgb(var(--color-background));
  border-radius: 50%;
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  color: rgb(var(--color-foreground));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  position: absolute;
  left: calc( 0.4rem + var(--media-border-width));
  top: calc(0.4rem + var(--media-border-width));
  z-index: 1;
  transition: color var(--duration-short) ease,
  opacity var(--duration-short) ease;
}

.product1__media-video .product1__media-icon {
  opacity: 1;
}

.product1__modal-opener--image .product1__media-toggle:hover {
  cursor: zoom-in;
}

.product1__modal-opener:hover .product1__media-icon {
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
}

@media screen and (min-width: 750px) {
  .grid__item.product1__media-item--full {
    width: 100%;
  }
}

@media screen and (min-width: 990px) {
  .product1__modal-opener .product1__media-icon {
    opacity: 0;
  }

  .product1__modal-opener:hover .product1__media-icon,
  .product1__modal-opener:focus .product1__media-icon {
    opacity: 1;
  }
}

.product1__media-item > * {
  display: block;
  position: relative;
}

.product1__media-toggle {
  display: flex;
  border: none;
  background-color: transparent;
  color: currentColor;
  padding: 0;
}

.product1__media-toggle::after {
  content: '';
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.product1__media-toggle:focus-visible {
  outline: 0;
  box-shadow: none;
}

.product1__media-toggle.focused {
  outline: 0;
  box-shadow: none;
}

.product1__media-toggle:focus-visible:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),0 0 0rem 0.5rem rgba(var(--color-foreground), 0.5);
  border-radius: var(--media-radius) - var(--media-border-width);
}

.product1__media-toggle.focused:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),0 0 0rem 0.5rem rgba(var(--color-foreground), 0.5);
  border-radius: var(--media-radius);
}

.product1__media-toggle:focus-visible:after {
  border-radius: var(--media-radius);
}

.product1-media-modal {
  background-color: rgb(var(--color-background));
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.product1-media-modal[open] {
  visibility: visible;
  opacity: 1;
  z-index: 101;
}

.product1-media-modal__dialog {
  display: flex;
  align-items: center;
  height: 100vh;
}

.product1-media-modal__content {
  max-height: 100vh;
  width: 100%;
  overflow: auto;
}

.product1-media-modal__content > *:not(.active),
.product1__media-list .deferred-media {
  display: none;
}

@media screen and (min-width: 750px) {
  .product1-media-modal__content {
    padding-bottom: 2rem;
  }

  .product1-media-modal__content > *:not(.active) {
    display: block;
  }

  .product1__modal-opener:not(.product1__modal-opener--image) {
    display: none;
  }

  .product1__media-list .deferred-media {
    display: block;
  }
}

@media screen and (max-width: 749px) {
  .product1--thumbnail .is-active > .product1__modal-opener:not(.product1__modal-opener--image),
  .product1--thumbnail_slider .is-active > .product1__modal-opener:not(.product1__modal-opener--image) {
    display: none;
  }

  .product1--thumbnail .is-active .deferred-media,
  .product1--thumbnail_slider .is-active .deferred-media {
    display: block;
    width: 100%;
  }
}

.product1-media-modal__content > * {
  display: block;
  height: auto;
  margin: auto;
}

.product1-media-modal__content .media {
  background: none;
}

.product1-media-modal__model {
  width: 100%;
}

.product1-media-modal__toggle {
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  border-radius: 50%;
  color: rgba(var(--color-foreground), 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  right: 2rem;
  padding: 1.2rem;
  position: fixed;
  z-index: 2;
  top: 2rem;
  width: 4rem;
}

.product1-media-modal__content .deferred-media {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .product1-media-modal__content {
    padding: 2rem 11rem;
  }

  .product1-media-modal__content > * {
    width: 100%;
  }

  .product1-media-modal__content > * + * {
    margin-top: 2rem;
  }

  .product1-media-modal__toggle {
    right: 5rem;
    top: 2.2rem;
  }
}

@media screen and (min-width: 990px) {
  .product1-media-modal__content {
    padding: 2rem 11rem;
  }

  .product1-media-modal__content > * + * {
    margin-top: 1.5rem;
  }

  .product1-media-modal__content {
    padding-bottom: 1.5rem;
  }

  .product1-media-modal__toggle {
    right: 5rem;
  }
}

.product1-media-modal__toggle:hover {
  color: rgba(var(--color-foreground), 0.75);
}

.product1-media-modal__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
}

/* Product popup */

.product1-popup-modal {
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  margin: 0 auto;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  background: rgba(var(--color-foreground), 0.2);
  height: 100%;
}

.product1-popup-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

.product1-popup-modal__content {
  border-radius: var(--popup-corner-radius);
  background-color: rgb(var(--color-background));
  overflow: auto;
  height: 80%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5rem;
  width: 92%;
  position: absolute;
  top: 0;
  padding: 0 1.5rem 0 3rem;
  border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
  border-style: solid;
  border-width: var(--popup-border-width);
  box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.product1-popup-modal__content.focused {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
  0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3),
  var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.product1-popup-modal__content:focus-visible{
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
  0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3),
  var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

@media screen and (min-width: 750px) {
  .product1-popup-modal__content {
    padding-right: 1.5rem;
    margin-top: 10rem;
    width: 70%;
    padding: 0 3rem;
  }

  .product1-media-modal__dialog .global-media-settings--no-shadow {
    overflow: visible !important;
  }
}

.product1-popup-modal__content img {
  max-width: 100%;
}

@media screen and (max-width: 749px) {
  .product1-popup-modal__content table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
  }

  .product1-media-modal__dialog .global-media-settings,
  .product1-media-modal__dialog .global-media-settings video,
  .product1-media-modal__dialog .global-media-settings model-viewer,
  .product1-media-modal__dialog .global-media-settings iframe,
  .product1-media-modal__dialog .global-media-settings img {
    border: none;
    border-radius: 0;
  }
}

.product1-popup-modal__opener {
  display: inline-block;
}

.product1-popup-modal__button {
  font-size: 1.6rem;
  padding-right: 1.3rem;
  padding-left: 0;
  height: 4.4rem;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  transition: text-decoration-thickness var(--duration-short) ease;
}

.product1-popup-modal__button:hover {
  text-decoration-thickness: 0.2rem;
}

.product1-popup-modal__content-info {
  padding-right: 4.4rem;
}

.product1-popup-modal__content-info > * {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .product1-popup-modal__content-info > * {
    max-height: 100%;
  }
}

.product1-popup-modal__toggle {
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  border-radius: 50%;
  color: rgba(var(--color-foreground), 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: sticky;
  padding: 1.2rem;
  z-index: 2;
  top: 1.5rem;
  width: 4rem;
  margin: 0 0 0 auto;
}

.product1-popup-modal__toggle:hover {
  color: rgba(var(--color-foreground), 0.75);
}

.product1-popup-modal__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
}

.product1__media-list .media > * {
  overflow: hidden;
}

.thumbnail-list {
  flex-wrap: wrap;
  grid-gap: 1rem;
}

@media screen and (min-width: 750px) {
  .product1--stacked .thumbnail-list {
    display: none;
  }

  .thumbnail-list {
    display: grid;
    margin-left: -1rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

.thumbnail-list_item--variant:not(:first-child) {
  display: none;
}

@media screen and (min-width: 990px) {
  .thumbnail-list {
    margin-left: 0;
    grid-template-columns: repeat(4, 1fr);
  }

  .product1--medium .thumbnail-list {
    grid-template-columns: repeat(5, 1fr);
  }

  .product1--large .thumbnail-list {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 749px) {
  .product1__media-item {
    display: flex;
    align-items: center;
  }

  .product1__modal-opener {
    width: 100%;
  }

  .thumbnail-slider {
    display: flex;
    align-items: center;
  }

  .thumbnail-slider .thumbnail-list.slider {
    display: flex;
    padding: 0.5rem;
    flex: 1;
    scroll-padding-left: 0.5rem;
  }

  .thumbnail-list__item.slider__slide {
    width: calc(33% - 0.6rem);
  }

  .highlights-product__item {
    font-size: 13px;
    line-height: 24px;
  }
}

@media screen and (min-width: 750px) {
  .product1--thumbnail_slider .thumbnail-slider {
    display: flex;
    align-items: center;
  }

  .thumbnail-slider .thumbnail-list.slider--tablet-up {
    display: flex;
    padding: 0.5rem;
    flex: 1;
    scroll-padding-left: 0.5rem;
  }

  .product1__media-gallery .slider-mobile-gutter .slider-button {
    display: none;
  }

  .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide {
    width: calc(25% - 0.8rem);
  }

  .product1--thumbnail_slider .slider-mobile-gutter .slider-button {
    display: block;
  }
}

@media screen and (min-width: 900px) {
  .product1--small .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide {
    width: calc(25% - 0.8rem);
  }

  .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide {
    width: calc(20% - 0.8rem);
  }
}

.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  color: rgb(var(--color-base-text));
  cursor: pointer;
  background-color: transparent;
}

.thumbnail:hover {
  opacity: 0.7;
}

.thumbnail.global-media-settings img {
  border-radius: 0;
}

.thumbnail[aria-current] {
  box-shadow: 0 0 0rem 0.1rem rgb(var(--color-foreground));
  border-color: rgb(var(--color-foreground));
}

.thumbnail[aria-current]:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),0 0 0rem 0.5rem rgba(var(--color-foreground), 0.5);
}

.thumbnail[aria-current]:focus,
.thumbnail.focused {
  outline: 0;
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),0 0 0rem 0.5rem rgba(var(--color-foreground), 0.5);
}

.thumbnail[aria-current]:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgb(var(--color-foreground));
}

.thumbnail img {
  pointer-events: none;
}

.thumbnail--narrow img {
  height: 100%;
  width: auto;
  max-width: 100%;
}

.thumbnail--wide img {
  height: auto;
  width: 100%;
}

.thumbnail__badge .icon {
  width: 1rem;
  height: 1rem;
}

.thumbnail__badge .icon-3d-model {
  width: 1.2rem;
  height: 1.2rem;
}

.thumbnail__badge {
  color: rgb(var(--color-foreground), 0.6);
  height: 2rem;
  width: 2rem;
  left: auto;
  right: calc(0.4rem + var(--media-border-width));
  top: calc(0.4rem + var(--media-border-width));
}

@media screen and (min-width: 750px) {
  .product1:not(.product1--small) .thumbnail__badge {
    height: 3rem;
    width: 3rem;
  }

  .product1:not(.product1--small) .thumbnail__badge .icon {
    width: 1.2rem;
    height: 1.2rem;
  }

  .product1:not(.product1--small) .thumbnail__badge .icon-3d-model {
    width: 1.4rem;
    height: 1.4rem;
  }
}

.thumbnail-list__item {
  position: relative;
}

.thumbnail-list__item::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}


.product1-tabs {
  width: 100%;
  max-width: 100%;
  padding: 5% 0;
}
.product1-tabs__caption {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  padding: 0 0 50px 0;
}
.product1-tabs__caption li:last-child:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: -2px;
  z-index: -1;
  height: 5px;
  /*background: #7DCA86;*/
}
.product1-tabs__caption:after {
  content: '';
  display: table;
  clear: both;
}
.product1-tabs__caption li {
  width: 50%;
  padding: 9px 15px;
  margin: 1px 0 0 1px;
  border-bottom: solid #E7E5EA 1px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.4px;
  opacity: .5;
}
.product1-tabs__caption li:not(.product1-active) {
  cursor: pointer;
}
.product1-tabs__caption li:not(.product1-active):hover {
  opacity: 1;
}
.product1-tabs__caption .product1-active {
  background: #FFF;
  border-bottom: 2px solid #12022F;
  opacity: 1;
}
.product1-tabs__caption .product1-active:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 5px;
  background: #FFF;
}
.product1-tabs__content {
  display: none;
}
.product1-tabs__content.product1-active {
  display: block;
}

.product1-cols {
  display: flex;
  width: 100%;
}

.product1-cols__left-col {
  width: 50%;
  padding-right: 5%;
}
.product1-cols__right-col {
  width: 50%;
  padding-left: 5%;
}

.product1-why-take {
  width: 100%;
  padding: 50px 0 120px 0;
}
.product1-why-take__content {
  width: 60%;
  margin-bottom: 5%;
}
.product1-why-take__title {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.8px;
  color: #12022F;
  margin-bottom: 5%;
}
.product1-why-take__text a {
  text-decoration: none;
  font-weight: 600;
  letter-spacing: -0.3px;
  color: #E5007D;
}
.product1-why-take__text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #594D6D;
}

.product1-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

.subscription-product {
  width: 100%;
  padding: 5% 0 10% 0;
}
.subscription-product__wrapper {}
.subscription-product__v-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.355556px;
  margin-bottom: 10px;
  color: #12022F;
}
.subscription-product__v-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.3px;
  text-align: left;
  color: #000000;
}
.subscription-product__variants {}
.subscription-product__content {
  width: 90%;
  padding-left: 20px;
}

.subscription-product__variant {
  position: relative;
}
.subscription-product__variant input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* .design */
.subscription-product__design {
  width: 20px;
  height: 20px;
  border: 2px solid #E7E5EA;
  border-radius: 100%;
  position: relative;
}

.subscription-product__design:before,
.subscription-product__design:after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  transform: scale(0);
  transform-origin: 30% 30%;
}
.subscription-product__design:before {
  background: #E7E5EA;
  opacity: 0;
  transition: .3s;
}

.subscription-product__design:after {
  background: #E5007D;
  opacity: .4;
  transition: .6s;
}

.subscription-product__variant-active .subscription-product__design {
  border-color: #E5007D;
}
.subscription-product__variant-active .subscription-product__design:before {
  opacity: 1;
  background: #E5007D;
  transform: scale(.5);
}

.subscription-product__variant {
  display:flex;
  width: 100%;
  cursor:pointer;

  background: rgba(0, 0, 0, 0.0);
  border: 1px solid #E7E5EA;
  border-radius: 16px;
  margin-bottom: 20px;
  padding: 20px;
}
.subscription-product__variant-active {
  border-color: #E5007D;
  background: rgba(229, 0, 125, 0.05);
}
.subscription-product__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
  background: #0A0569;
  border-radius: 28px;
  margin-bottom: 16px;
  cursor: pointer;
}
.subscription-product__button span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.36px;
  color: #FFFFFF;
  margin: 0 10px;
}
.subscription-product__button-not-active {
  display: none;
}
.subscription-product__text {
  width: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.3px;
  color: #12022F;
}

.product1-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 450px) {
  .product1-price {
    grid-template-columns: 1fr 2fr;
  }
}

.product1-gallery__desktop {
  display: block;
}
.product1-gallery__mobile {
  display: none;
}
.product__logos {
  width: 100%;
  display: none;
}

.product1__clear {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
}

@media screen and (max-width: 750px) {

  .product__logos {
    display: block;
  }
  .subscription-product__text {
    margin-bottom: 30px;
  }

  .product1-gallery__desktop {
    display: none;
  }
  .product1-gallery__mobile {
    display: block;
  }

  .product1-cols {
    display: block;
    margin-top: 5%;
  }

  .product1-cols__left-col {
    width: 100%;
    padding: 0;
  }
  .product1-cols__right-col {
    width: 100%;
    padding: 0;
  }
  .product1-why-take {
    padding: 50px 0;
  }
  .product1-why-take__content {
    width: 100%;
  }
  .product1-why-take__title {
    font-size: 24px;
    line-height: 34px;
  }
  .product1-why-take__text {
    font-size: 14px;
    line-height: 24px;
  }
  .product1__title {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 24px;
    margin-top: 0;
  }
  .price-block__price {
    font-size: 24px;
    line-height: 28px;
  }
  .product1__description {
    font-size: 14px;
    line-height: 24px;
  }
  .what-test-product__title {
    font-size: 16px;
    line-height: 26px;
  }
  .what-test-product__item {
    font-size: 14px;
    line-height: 24px;
  }
  .product1 {
    display: block;
  }
  .product1__media-wrapper {
    width: 100%;
    max-width: 100%;
  }
  .product1__info-wrapper {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .product1-form.scrolling-btn,
  .product-form.scrolling-btn,
  .product3-form.scrolling-btn {
    position: fixed;
    z-index: 10000;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    padding: 10px;
    margin: 0;
  }

  .product1-form.scrolling-btn .product1-form__buttons {
    display: flex;
    justify-content: space-between;
  }

  .product1-form.scrolling-btn .product1-form__buttons>* {
    margin: 0;
    width: 45%
  }
}

.product2-review {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: rgba(0, 0, 0, 0.56);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.product2-review svg {
  margin-right: 10px;
}

@media screen and (min-width: 990px) {
  .product2-review {
    font-size: 12px;
  }
}

.product2__payment-metod-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.3px;
  color: #857D94;
  margin: 0;
}

@media screen and (min-width: 750px) {
  .product2__payment-metod-title {
    font-size: 12px;
  }
}

.show-mobile {
  display: block;
}

.show-desktop {
  display: none;
}

@media screen and (min-width: 751px) {
  .show-mobile {
    display: none;
  }

  .show-desktop {
    display: block;
  }
}

.product2-reviews__sld-wrapper {
  max-width: 100%;
  margin: 17px auto;
  overflow: hidden;
}

.product2-reviews__sld-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 49px;
  letter-spacing: -2px;
  color: #0A0569;
  margin: 0 0 2px;
}

@media screen and (min-width: 767px) {
  .product2-reviews__sld-title {
    font-size: 38px;
    line-height: 49px;
    margin: 0 0 27px;
  }
}

.prod2-review__slide-holder {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 12.5px;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: #172B3A;
  padding: 13px;
  margin: 6px;
  border-radius: calc(var(--card-corner-radius) / 1.5);
  position: relative;
}

.prod2-review__slide-holder:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: var(--card-border-width) solid rgba(var(--color-foreground), var(--card-border-opacity));
  border-radius: calc(var(--card-corner-radius) / 1.5);
  box-shadow: var(--card-shadow-horizontal-offset) var(--card-shadow-vertical-offset) var(--card-shadow-blur-radius) rgba(var(--color-shadow), var(--card-shadow-opacity));
}

.prod2-review__slide-box {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.prod2-review__slide-left {
  display: none;
}

.prod2-review__slide-content {
  padding: 9px 11px 0;
}

.prod2-review__slide-position,
.prod2-review__slide-raiting {
  display: none;
}

.prod2-review__slide-title {
  margin: 0 0 7px;
}

.prod2-review__slide-video {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 767px) {
  .prod2-review__slide-holder {
    padding: 23px 34px 18px;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }

  .prod2-review__slide-box {
    max-width: 60%;
    padding: 20px 10px 20px 0;
  }

  .prod2-review__slide-left {
    display: block;
  }

  .prod2-review__slide-content {
    padding: 0 0 0 34px;
  }

  .prod2-review__slide-position {
    display: block;
    font-weight: 400;
    font-size: 12.5px;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: #12022F;
    text-align: center;
  }

  .prod2-review__slide-raiting {
    margin: 0 0 18px;
    display: block;
  }

  .prod2-review__slide-title {
    margin: 0 0 22px;
  }

  .prod2-review__slide-video {
    order: 1;
  }
}

.prod2-review__slide-img {
  width: 91px;
  height: 91px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 0 3px;
}

.prod2-review__slide-video-holder {
  border-radius: 32px;
  overflow: hidden;
}

.prod2-review__slide-video-holder iframe {
  display: block;
}

.prod2-review__slide-video-raiting {
  display: block;
}

@media screen and (min-width: 767px) {
  .prod2-review__slide-video-raiting {
    display: none;
  }
}

.product2-reviews__sld .swiper-horizontal>.swiper-pagination-bullets,
.product2-reviews__sld .swiper-pagination-bullets.swiper-pagination-horizontal,
.product2-reviews__sld .swiper-pagination-custom,
.product2-reviews__sld .swiper-pagination-fraction {
  bottom: 0;
}


.prod-review__slider-nav {
  position: relative;
  padding: 3px 0 0;
}

.product2-reviews__sld .swiper-pagination-bullet {
  background: #FFFFFF;
  border: 1px solid #E5007D;
  opacity: 1;
  width: 13px;
  height: 13px;
}

.product2-reviews__sld .swiper-pagination-bullet-active {
  background: #E5007D;
}

@media screen and (min-width: 767px) {
  .product2-reviews__sld .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }
}

.product2-reviews__sld .slider-navigation {
  display: none;
}

.product2-reviews__sld .swiper-pagination {
  position: static;
}

.product1 .pdp-slider.mobile{
  display: none;
}

@media (max-width: 750px) {
  .product1 .pdp-slider.mobile{
    display: block;
  }
}