.how-works__title {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
}

.how-works.no-heading .title {
  display: none;
}

.how-works .title-wrapper-with-link {
  margin-top: 0;
  margin-bottom: 7rem;
}

@media screen and (max-width: 749px) {
  .how-works .title-wrapper-with-link {
    margin-bottom: 3rem;
  }

  .how-works .page-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.how-works-card__image-wrapper--third-width {
  width: 33%;
}

.how-works-card__image-wrapper--half-width {
  width: 50%;
}

.how-works-list__item.center
  .how-works-card__image-wrapper:not(.how-works-card__image-wrapper--full-width),
.how-works-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.how-works .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .how-works .button {
    margin-top: 4rem;
  }
}

.how-works-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  counter-reset: section-counter;
}

.how-works-list__item:only-child {
  max-width: 72rem;
}

.how-works:not(.background-none) .how-works-card {
  background: rgb(var(--color-background));
  height: 100%;
}

.how-works.background-primary .how-works-card {
  background: rgb(var(--color-background)) linear-gradient(rgba(var(--color-foreground), 0.04), rgba(var(--color-foreground), 0.04));
}

.how-works-list h3 {
  line-height: calc(1 + 0.5 / max(1, var(--font-heading-scale)));
}

.how-works-list h3,
.how-works-list p {
  margin: 0;
}

.how-works-card__title::before {
  counter-increment: section-counter;  
  content: counter(section-counter) ". "; 
}

.how-works-card-spacing {
  padding-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.how-works-card__info > :nth-child(2) {
  margin-top: 1rem;
}

.how-works-list__item.center .media--adapt,
.how-works-list__item .media--adapt .how-works-card__image {
  width: auto;
}

.how-works-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 749px) {
  .how-works-list {
    margin: 0;
    width: 100%;
  }

  .how-works-list__item {
    margin: 0 0 var(--grid-mobile-vertical-spacing);
    padding: 0;
  }

  .how-works-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .how-works-list.slider .how-works-list__item {
    width: calc(100% - 3rem);
  }
}


@media screen and (min-width: 750px) {
  .how-works-list.slider,
  .how-works-list.grid--4-col-desktop {
    padding: 0;
  }

  .how-works-list__item,
  .grid--4-col-desktop .how-works-list__item {
    padding-bottom: 0;
  }

  .grid--2-col-tablet .how-works-list__item {
    margin-top: var(--grid-desktop-vertical-spacing);
    max-width: 50%;
  }

  .background-none .grid--2-col-tablet .how-works-list__item {
    margin-top: 4rem;
  }

  .grid--2-col-tablet .how-works-list__item:nth-of-type(-n + 2) {
    margin-top: 0;
  }
}

@media screen and (min-width: 990px) {
  .grid--2-col-tablet.grid--4-col-desktop .how-works-list__item {
    max-width: 25%;
  }

  .grid--2-col-tablet.grid--4-col-desktop
    .how-works-list__item:nth-of-type(-n + 4) {
    margin-top: 0;
  }
}

.background-none .how-works-card-spacing {
  padding: 0;
  margin: 0;
}

.how-works-card__info {
  padding: 2.5rem 2.5rem;
}

.how-works-card__title {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

.how-works-card__text,
.how-works-card__text p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.3px;
}

.background-none .how-works-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .slider .how-works-card__info {
  padding-bottom: 0;
}

.background-none .how-works-card__image-wrapper + .how-works-card__info {
  padding-top: 2.5rem;
}

.background-none .slider .how-works-card__info {
  padding-left: 0.5rem;
}

.background-none
  .slider
  .how-works-card__image-wrapper
  + .how-works-card__info {
  padding-left: 1.5rem;
}

.background-none
  .how-works-list:not(.slider)
  .center
  .how-works-card__info {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 749px) {
  .background-none .slider .how-works-card__info {
    padding-bottom: 1rem;
  }

  .how-works.background-none .slider.slider--mobile {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 750px) {
  .background-none .how-works-card__image-wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .background-none .how-works-list .how-works-card__info,
  .background-none
    .how-works-list:not(.slider)
    .center
    .how-works-card__info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.how-works-card {
  position: relative;
  box-sizing: border-box;
}

.how-works-card > .how-works-card__image-wrapper--full-width:not(.how-works-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  overflow: hidden;
}

.how-works.background-none .how-works-card {
  border-radius: 0;
}

.how-works-card__info .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.how-works-card__info .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}
