.default-article {
  padding-bottom: 75px;
}

.default-article__wrapper {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.default-article__block {
  flex: 1 0 0;
}

.default-article__title {
  max-width: 445px;
  width: 100%;
}

.default-article__title h1 {
  margin-top: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -2px;
}

.default-article__info-wrapper {
  display: flex;
}

.default-article__author {
  max-width: 540px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #12022F;
}

.default-article__caption {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.355556px;
  color: #888097;
}

.default-article__author-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.355556px;
}

.default-article__author-name a {
  text-decoration: none;
  color: #12022F;
}

.default-article__author-wrapper {
  margin-top: 15px;
  display: flex;
  column-gap: 16px;
}

.default-article__author-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #123123;
  overflow: hidden;
}

.default-article__author-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.default-article__article-info {
  display: flex;
  column-gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.3px;
}

.default-article__circle {
  display: flex;
  align-items: center;
}

.default-article__readtime p {
  margin: 0;
}

.related-articles {
  margin-top: 100px;
  overflow: hidden;
}

.related-articles__list {
  display: flex;
}

.related-articles__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.related-articles__title h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.8px;
}

.related-articles__item {
  display: none;
}

.related-articles__item.related-articles__item--active {
  display: flex;
}

#shopify-toc {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px 62px 47px 33px;
  max-width: 540px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.11);
  border-radius: 16px;
}

#shopify-toc .title {
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.8px;
  color: #12022F;
}

#shopify-toc .bullet {
  padding-left: 20px;
}

#shopify-toc .bullet ul {
  padding-left: 20px;
}

#shopify-toc li.bullet li.bullet {
  padding-left: unset;
  margin: 0;
}

#shopify-toc .bullet::marker {
  color: #E5007D;
}

#shopify-toc .bullet a {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.355556px;
  text-decoration-line: underline;
  color: #E5007D;
}

.article-share__title {
  margin-top: 60px;
  display: flex;
  column-gap: 24px;
}

.article-share__title div {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #12022F;
}

.article-share__wrapper {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.article-share__link {
  transition: all .4s;
}

.article-share__link:visited {
  color: unset;
}

.article-share__link:hover {
  transform: scale(1.05);
}

.article-share__wrapper svg {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 990px) {
  .default-article__wrapper {
    display: block;
  }

  .default-article__block:last-of-type {
    margin-top: 45px;
  }

  .default-article__title {
    margin-top: -40px;
  }

  .default-article__title h1 {
    font-size: 36px;
    line-height: 46px;
  }

  .default-article__info-wrapper {
    flex-direction: column;
    row-gap: 30px;
  }

  .related-articles h2 {
    font-size: 24px;
    line-height: 34px;
  }

  .related-articles {
    margin-top: 10px;
  }

  .related-articles__list {
    column-gap: unset;
  }  

  #shopify-toc {
    margin-top: 32px;
    padding: 24px 24px 30px;
  }

  #shopify-toc .title {
    font-size: 24px;
    line-height: 34px;
  }
}

@media (hover: hover) {
  .default-article__author-name:hover a {
    text-decoration: underline;
  }
}


