<div class="page-content page-full">
  <div class="rte text-center">
    <header class="section-header">
      <h1 class="section-header__title">{{ page.title }}</h1>
    </header>
    <div class="rte rte--nomargin">
      {{ page.content }}
    </div>
  </div>
  <div class="closeby-embed-48d558fd99ee161057377dd043789b28"></div>
  <script>window.closeby = { mapKey: "48d558fd99ee161057377dd043789b28", options: { embed: true, height: 700 } };</script>
  <script src="https://embed.closeby.co/v1.js" defer></script>
</div>